<div class="h1 text-center">
    请输入要增加商品的详细信息
</div>
<table class="table table-striped table-bordered  table-hover">
    <tr>
        <th>商品ID</th>
        <th>名称</th>
        <th>种类</th>
        <th>价格</th>
        <th>数量</th>
        <th>折扣</th>

    </tr>
    <tr>
    	<td><input type="text" class="form-control" ng-model="sp.id"></td>
    	<td><input type="text" class="form-control" ng-model="sp.name"></td>
    	<td><input type="text" class="form-control" ng-model="sp.type"></td>
    	<td><input type="text" class="form-control" ng-model="sp.price"></td>
    	<td><input type="text" class="form-control" ng-model="sp.num"></td>
    	<td><input type="text" class="form-control" ng-model="sp.discount"></td>
    </tr>
</table>

  <div style="text-align: center;">
  	<button type="button" class="btn btn-info" ng-click="addSp()">确认添加</button>
  	<button type="button" class="btn btn-success" ng-click="clearForm()">清空</button>
  </div>
  <div class="alert alert-success" role="alert" ng-show="showTitle">添加商品成功</div>
  <div class="alert alert-danger" role="alert" ng-show="showWarn">该ID已存在请输入正确的ID</div>